.navbar {
    background-color: #1bd36e;
}

.quem-somos {
    background-color: #bbf0d3;
}

.padding {
    padding-top: 30px;
    padding-bottom: 40px;
}

.parceiros {
    background-color: #a8e1e6;
}

.servicos {
    background-color: #f0d5bb;
}

.bg-footer {
    background-color: #1bd36e;
}